<%= form_for @utility  do |f| %>
    <div class="form-group">
        <%= f.label :company %>
        <%= f.select :company, ["DEI", "EYDAP", "OTE", "GAS", "TICKETS","COMMONS", "UNEXPECTED"] %>
    </div>
    <div class="form-group">
        <%= f.label :amount %>
        <%= f.number_field :amount, step: 1, value:  0 %>
    </div>

    <div class="form-group" >
        <%= f.label :date_issued %>
        <%= f.date_field :date_issued %>
    </div>

    <div class="actions">
        <%= f.submit %>
    </div>
<% end %>