<div class="container" >
  <div class="row" >
    <div class="col-sm-12" >
      <h1 style="text-align: center;" >Utilities</h1>
      <ul class="nav nav-tabs" id="myTab" role="tablist">
        <li class="nav-item">
          <a class="nav-link active" id="chart_2019-tab" data-toggle="tab" href="#chart_2019" role="tab" aria-controls="chart_2019"
            aria-selected="true">2019</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" id="chart_2020-tab" data-toggle="tab" href="#chart_2020" role="tab" aria-controls="chart_2020"
            aria-selected="false">2020</a>
        </li>               
      </ul>

      <div class="tab-content" id="myTabContent">
        <div class="tab-pane fade show active" id="chart_2019" role="tabpanel" aria-labelledby="chart_2019-tab">
            <table class="table">
              <thead>
                <tr>
                  <th scope="col">#</th>
                  <th scope="col">Company</th>
                  <th scope="col">Date Issued</th>
                  <th scope="col">Ammount</th>
                  <th scope="col">Edit</th>
                  <th scope="col">Delete</th>
                </tr>
              </thead>
              <tbody>
                <% @utilities[2019].each_with_index do |utility, i| %>
                    <tr>
                        <th scope="row">i</th>
                        <td><%= utility.company %></td>
                        <td><%= utility.date_issued %></td>
                        <td><%= utility.amount %></td>
                        <td><%= link_to "Edit", edit_utility_path(utility), class: "btn btn-warning" %></td>
                        <td><%= link_to 'Delete', utility, method: :delete, data: { confirm: 'Are you sure?' }, class:"btn btn-danger" %></td>
                    </tr>
                <% end %>
              </tbody>
            </table>
        </div>
        <div class="tab-pane fade" id="chart_2020" role="tabpanel" aria-labelledby="chart_2020-tab">
            <table class="table">
              <thead>
                <tr>
                  <th scope="col">#</th>
                  <th scope="col">Company</th>
                  <th scope="col">Date Issued</th>
                  <th scope="col">Ammount</th>
                  <th scope="col">Edit</th>
                  <th scope="col">Delete</th>
                </tr>
              </thead>
              <tbody>
                <% @utilities[2020].each_with_index do |utility, i| %>
                    <tr>
                        <th scope="row">i</th>
                        <td><%= utility.company %></td>
                        <td><%= utility.date_issued %></td>
                        <td><%= utility.amount %></td>
                        <td><%= link_to "Edit", edit_utility_path(utility), class: "btn btn-warning" %></td>
                        <td><%= link_to 'Delete', utility, method: :delete, data: { confirm: 'Are you sure?' }, class:"btn btn-danger" %></td>
                    </tr>
                <% end %>
              </tbody>
            </table>
        </div>    
      
      </div>
    </div>
  </div>
</div>