<% if notice %>
  <div class="alert alert-primary alert-dismissible fade show" role="alert">
    <%= notice %>
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
<% end %>

<div class="container" >
    <div class="row" >
        <div class="col-sm-4" >
            
        </div>
        <div class="col-sm-4" >
            <h1>Home#index</h1>
            <% @utilities.each do |utility| %>
                <p>
                    <%= utility.company %>&nbsp;
                    <%= link_to "Edit", edit_utility_path(utility), class: "btn btn-warning" %>
                    <%= link_to "Delete", utility, method: :delete, data: {confirm: "Are you sure ?"}, class: "btn btn-danger" %>
                <p>
            <% end %>
        </div>
        <div class="col-sm-4" >
            <%= link_to "New Utility", utilities_new_path %>
        </div>
    </div>
</div>
