<!DOCTYPE html>
<html>
  <head>
    <title>Utilities</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>

    <!-- Charts -->
    <style>
    .chartdiv {
      width: 100%;
      height: 500px;
    }
    </style>
    <!-- Resources -->
    <script src="https://www.amcharts.com/lib/4/core.js"></script>
    <script src="https://www.amcharts.com/lib/4/charts.js"></script>
    <script src="https://www.amcharts.com/lib/4/themes/animated.js"></script>
    <!-- End Charts -->

  </head>

  <body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark rounded">
      <%= link_to "Utilities", '#', class: "navbar-brand" %>
      <ul class="navbar-nav mr-auto">
        <li class="<%=  request.env['PATH_INFO'] == '/' ? "nav-item active" : "nav-item" %>">
          <%= link_to 'Home', "/", class: "nav-link" %>
        </li>        
      </ul>
      <ul class="navbar-nav ml-auto">
        <% if current_user %>
          <li class="<%=  request.env['PATH_INFO'] == '/utilities' ? "nav-item active" : "nav-item" %>">
            <%= link_to  utilities_path, class: "nav-link" do%>
                <i class="fa fa-list-alt" ></i>Utility Entries
            <% end %>
          </li>
          <li class="<%=  request.env['PATH_INFO'] == '/utilities/new' ? "nav-item active" : "nav-item" %>">
            <%= link_to  new_utility_path, class: "nav-link" do%>
                <i class="fa fa-list-alt" ></i>New Utility
            <% end %>
          </li>          
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Edit Profile<i class="fa fa-cogs"></i>
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              <!--<a class="dropdown-item" href="#">Action</a>-->
                <%= link_to edit_user_registration_path, class: "dropdown-item" do%>
                  <i class="fas fa-id-card"></i>User Info
                <% end %>
            </div>
          </li>
          <li class="nav-item">
            <%= link_to  destroy_user_session_path, :method => :delete, class: "nav-link" do%>
                <i class="fa fa-power-off" ></i>Logout
            <% end %>
          </li>
        <% end %>
      </ul>
    </nav>
    <%= yield %>
  </body>
</html>
